body
{
	margin: 0px;
	padding: 0px;
	background-color: #099;
}

#wrapper
{
	width: 80%;
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 0px auto;
    padding: 0px 5px;
}

header
{
	padding: 5px;
}

header nav
{
	float: right;
}

header nav ul {
	overflow: hidden;
	padding: 35px 0 0 0;
	margin: 0px auto;
	list-style: none;
	margin-left: 95px;
}

header nav ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

header nav ul li a 
{
	float: left;
	display: block;
	margin: 0px 5px;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #fff;	
	outline: none;
	border-radius: 5px;
    transition: background 0.9s linear 0s, color 0.3s linear 0s;
}

header nav li a:hover, #button li .current {
	color: #099;
	background: #fff;
}

section
{
	margin-left: 15px;
	clear: both;
	padding: 5px 10px 10px 10px;
	margin-top: 5px;
}

header #logo
{
	float: left;
	margin-left: 10px;
	margin-top: 20x;
	padding: 10px;
}

#button
{
	margin: 0px;
	margin-left: -20px;
	clear: both;
}

#button ul
{
	overflow: hidden;
	padding: 10px 10px 0px 10px;
	list-style: none;
}

#button ul li 
{
	display: inline;
}

#button ul li a 
{
	float: left; 
	display: block;
	padding: 0px 10px;
	margin: 0px 5px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #fff;	
	outline: none;
	border-radius: 10px;
    transition: background 1s linear 0s, color 0.5s linear 0s;
}

#button li a:hover, #button li .current 
{
	color: #099;
	background: #fff;
}

table
{
	width: 40%;
	float: left;
	border: 1px solid #fff ;
	padding: 5px;
	margin-right: 95px;
	margin-bottom: 5px;
}